# rename to pi-telemetry.env and modify the variables to your site

MQTT_HOST="mqtt.example.com"
MQTT_PORT=8883
MQTT_USER="change_me"
MQTT_PASS="change_me"

MQTT_TOPIC_PREFIX="pi-telemetry"

# uncomment to change the default values
#PI_TELEMETRY_SLEEP_TIME=10
#PI_TELEMETRY_ID=    #default is hostname

